
html,
body {
  padding: 0;
  margin: 0;
  background-image: url('/most.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
}

@media (max-width: 200px) {
    body {
      background-size: contain;
    }
  }

.chagingfont{
  font-family: Leelawadee;
  font-weight: 200;
  color:#010101;
  letter-spacing: .02em;
  text-transform: uppercase;
  font-size: 1.625em;
}